h2 {
    font-family: 'Open Sans', sans-serif;
    color: #5C2610;
    font-size: 2em;
    font-weight: normal;
    line-height: 1;
    padding: 10px 0;
    margin: 0;

}

p {
    font-family: 'Open Sans', sans-serif;
    color: #5C2610;
    font-size: 1em;
    font-weight: normal;
    line-height: 1;
    padding: 10px 0;
    margin: 0;
}